<template name="Home">
  <!-- {{ #contentFor "headerTitle" }}
<h1>This Is Home</h1>
{{ /contentFor }} -->

{{ #ionContent }}
<a href="/login">Login</a>
<div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>
  <button class="button button-clear">
    Cancel
  </button>
</div>

  <list-adventures></list-adventures>
  <script>System.import( 'client/components/adventures/adventures' );</script>
{{ /ionContent }}
</template>
